<div class="admin row">
      <button class="rounded-circle btn-lg col-5 ms-5" (click)="redirectOnCreatePlace()">Create New Place</button>
      <button class="rounded-circle btn-lg col-5 ms-5" (click)="redirectOnCreateClubCard()">Create New ClubCard</button>
      <button class="rounded-circle btn-lg col-5 ms-5" (click)="redirectOnCreateServe()">Create New Service</button>
      <button class="rounded-circle btn-lg col-5 ms-5" (click)="redirectOnCreateSubscription()">Create New Subscription</button>
      <button class="rounded-circle btn-lg col-11 ms-5" (click)="redirectOnRegistrationUsersAsAdmin()">Registration Clients</button>
</div>
<router-outlet name="account"></router-outlet>
