<div class="admin row">
      <button class="rounded-circle btn-lg col-5 ms-5" (click)="redirectOnCreateVisit()">Create New Visit</button>
      <button class="rounded-circle btn-lg col-5 ms-5" (click)="redirectOnCreateDeal()">Create New Deal</button>
      <button class="rounded-circle btn-lg col-5 ms-5" (click)="redirectOnShowVisits()">Show Visits</button>
      <button class="rounded-circle btn-lg col-5 ms-5" (click)="redirectOnShowDeals()">Show Deals</button>
</div>
<router-outlet name="account"></router-outlet>
