<table class="table table-striped">
      <thead>
          <tr>
              <td *ngFor="let name of dealNames">{{name}}</td>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let value of deals">
              <ng-template [ngTemplateOutlet]="loadTemplate(value)" [ngTemplateOutletContext]="{ $implicit: value}">
  
              </ng-template>
          </tr>
      </tbody>
  </table>
  
  <ng-template #readOnlyTemplate let-value>
      <td *ngFor="let key of dealKeys">{{key}}</td>
      <td>
          <input type="button" value="Change" class="btn btn-primary" (click)="redirectOnEdit(value.id)" />
      </td>
      <td>
          <input type="button" value="Delete" class="btn btn-danger" (click)="delete(value.id)" />
      </td>
  </ng-template>
