<table class="table table-striped">
      <thead>
          <tr>
              <td *ngFor="let name of subscriptionsInfName">{{name}}</td>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let value of subscriptionsInf">
              <ng-template [ngTemplateOutlet]="loadTemplate(value)" [ngTemplateOutletContext]="{ $implicit: value}">
              </ng-template>
          </tr>
      </tbody>
  </table>

  <ng-template #readOnlyTemplate let-value>
      <td *ngFor="let key of subscriptionInfKeys">{{key}}</td>
  </ng-template>
