<table class="table table-striped">
      <thead>
          <tr>
              <td *ngFor="let name of subscriptionModelsName">{{name}}</td>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let subscriptionModel of subscriptionModels">
              <ng-template [ngTemplateOutlet]="loadTemplate(subscriptionModel)" [ngTemplateOutletContext]="{ $implicit: subscriptionModel}">
  
              </ng-template>
          </tr>
      </tbody>
  </table>
  
  <ng-template #readOnlyTemplate let-subscriptionModel>
      <td>{{subscriptionModel.name}}</td>
      <td>{{subscriptionModel.price}} rub</td>
      <td>{{subscriptionModel.amountWorkouts}} workouts</td>
      <td>{{subscriptionModel.serviceName}}</td>
      <td>
          <input type="button" value="Change" class="btn btn-primary" (click)="redirectOnEditSubscriptionModel(subscriptionModel.id)" />
      </td>
      <td>
          <input type="button" value="Delete" class="btn btn-danger" (click)="deleteSubscriptionModel(subscriptionModel.id)" />
      </td>
  </ng-template>